@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: inherit;
}

/* -webkit */
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

/* firefox */
input[type="color"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

input[type="color"]::-moz-color-swatch {
  border: none;
}
